# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Backend
backend/.venv/
backend/models/
backend/app.db

# Flutter
flutter_app/build/
flutter_app/.dart_tool/
flutter_app/.packages
flutter_app/.flutter-plugins
flutter_app/.flutter-plugins-dependencies

# macOS
.DS_Store